# This can be grabbed from https://YOUR_STORE_NAME-sp.admin.rechargeapps.com/merchant/integrations/api-token
RECHARGE_ADMIN_TOKEN=

# This can be grabbed from https://YOUR_STORE_NAME-sp.admin.rechargeapps.com/merchant/integrations/api-token
RECHARGE_STOREFRONT_TOKEN=strfnt_

# This is the secret from your Shopify App
SHOPIFY_APP_SECRET=shpss_

